<div class="row">
    <div class="col-md-8">
        <h2>ธนาคาร</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 text-right" style="padding-bottom: 10px;">
        <button type="button" class="btn btn-inverse" tooltip="Edit" (click)="openModal('ADD', null)">
            <i class="glyphicon glyphicon-plus-sign"></i> สร้างใหม่
        </button>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <section widget class="widget">
            <div class="widget-body">
                <table class="table table-striped static-table">
                    <thead>
                    <tr>
                        <th class="text-center">สถานะ</th>
                        <th class="text-center">Start</th>
                        <th class="text-center">Stop</th>
                        <th class="text-center">Re-Start</th>
                        <th class="text-center">BANK</th>
                        <th class="text-center">ACCOUNT NUMBER</th>
                        <th class="text-center">ACCOUNT NAME</th>
                        <th class="text-center">TYPE</th>
                        <th class="text-center">STATUS</th>
                        <th class="text-center">แก้ไข</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngIf="banks.length === 0">
                        <td class="text-center align-middle" colspan="10">
                            ไม่มีข้อมูล
                        </td>
                    </tr>
                    <tr *ngFor="let b of banks; let i = index">
                        <td class="text-center align-middle">
                            <span *ngIf="b.status === 'START'" class="badge badge-success" title="Active">Start</span>
                            <span *ngIf="b.status === 'STOP'" class="badge badge-danger" title="Active">Stop</span>
                        </td>
                        <td class="text-center">
                            <button type="button" class="btn btn-success" tooltip="Start" (click)="start(b._id)" [disabled]="b.status === 'START' || !b.active">
                                <i class="glyphicon glyphicon-play"></i>
                            </button>
                        </td>
                        <td class="text-center">
                            <button type="button" class="btn btn-danger" tooltip="Stop" (click)="stop(b._id)" [disabled]="b.status === 'STOP'">
                                <i class="glyphicon glyphicon-stop"></i>
                            </button>
                        </td>
                        <td class="text-center">
                            <button type="button" class="btn btn-info" tooltip="Re-Start" (click)="restart(b._id)" [disabled]="b.status === 'STOP'">
                                <i class="glyphicon glyphicon-refresh"></i>
                            </button>
                        </td>
                        <td class="text-center align-middle">
                            <img src="assets/img/banks/kbank.png" alt="" *ngIf="b.bankName === 'KBANK'"
                                 style="width: 20px">
                            <img src="assets/img/banks/scb.png" alt="" *ngIf="b.bankName === 'SCB'"
                                 style="width: 20px">
                            <img src="assets/img/banks/bay.png" alt="" *ngIf="b.bankName === 'BAY'"
                                 style="width: 20px">
                        </td>
                        <td class="text-center align-middle">
                            {{b.accountNumber}}
                        </td>
                        <td class="text-center align-middle">
                            {{b.accountName}}
                        </td>
                        <td class="text-center align-middle">
                            <span *ngIf="b.type === 'DEPOSIT'" class="badge badge-success" title="Type">Deposit</span>
                            <span *ngIf="b.type === 'WITHDRAW'" class="badge badge-danger" title="Type">Withdraw</span>
                        </td>
                        <td class="text-center align-middle">
                            <span *ngIf="b.active" class="badge badge-success" title="Active">Active</span>
                            <span *ngIf="!b.active" class="badge badge-danger" title="Active">InActive</span>
                        </td>
                        <td class="text-center">
                            <button type="button" class="btn btn-primary" tooltip="Edit" (click)="openModal('EDIT', b)" [disabled]="b.status === 'START'">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </section>
    </div>
</div>

<div id="bankModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content model-customer-detail">

            <div class="modal-header">
                <h4 class="modal-title" style="color: white;">ข้อมูลธนาคาร</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <section widget class="widget">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 main-header">
                            <form id="user-form" class="form-horizontal form-label-left parsleyjs"
                                  novalidate="novalidate"
                                  method="post"
                                  data-parsley-priority-enabled="false"
                                  data-parsley-excluded="input[name=gender]">
                                <fieldset>
                                    <section>
                                        <div class="row form-group">
                                            <label class="col-form-label col-md-2">ชื่อธนาคาร</label>
                                            <div class="col col-4">
                                                <label class="input">
                                                    <select class="form-control m-b" [(ngModel)]="bankDetail.bankName" name="bankName">
                                                        <option value="SCB">ธนาคารไทยพานิชย์</option>
                                                        <option value="KBANK">ธนาคารกสิกร</option>
                                                        <option value="BAY">ธนาคารกรุงศรี</option>
                                                    </select>
                                                </label>
                                            </div>
                                            <label class="col-form-label col-md-2">ประเภทบัญชี</label>
                                            <div class="col col-4">
                                                <select class="form-control m-b" [(ngModel)]="bankDetail.type" name="type">
                                                    <option value="DEPOSIT">ธนาคารฝาก</option>
                                                    <option value="WITHDRAW">ธนาคารถอน</option>
                                                </select>
                                            </div>
                                        </div>

                                    </section>

                                    <section>
                                        <div class="row form-group">
                                            <label class="col-form-label col-md-2">ชื่อบัญชี</label>
                                            <div class="col col-4">
                                                <input type="text" name="accountName" class="form-control input-transparent" [(ngModel)]="bankDetail.accountName">

                                            </div>
                                            <label class="col-form-label col-md-2">หมายเลขบัญชี</label>
                                            <div class="col col-4">
                                                <input type="text" name="accountNumber" class="form-control input-transparent" [(ngModel)]="bankDetail.accountNumber">
                                            </div>
                                        </div>
                                    </section>

                                    <section>
                                        <div class="row form-group">
                                            <label class="col-form-label col-md-2">ชื่อเข้าระบบ</label>
                                            <div class="col col-4">
                                                <input type="text" name="user" [(ngModel)]="bankDetail.user" class="form-control input-transparent">
                                            </div>
                                            <label class="col-form-label col-md-2">รหัสผ่าน</label>
                                            <div class="col col-4">
                                                <input type="text" name="password" [(ngModel)]="bankDetail.password" class="form-control input-transparent">
                                            </div>
                                        </div>
                                    </section>

                                    <section>
                                        <div class="row form-group">
                                            <label class="col-form-label col-md-2">ลำดับบัญชี</label>
                                            <div class="col col-4">
                                                <input type="text" name="no" [(ngModel)]="bankDetail.no" class="form-control input-transparent">
                                            </div>
                                            <label class="col-form-label col-md-2">บัญชีชุดที่</label>
                                            <div class="col col-4">
                                                <input type="text" name="accountSet" [(ngModel)]="bankDetail.accountSet" class="form-control input-transparent">
                                            </div>
                                        </div>
                                    </section>

                                    <section>
                                        <div class="row form-group">
                                            <label class="col-form-label col-md-2">Active</label>
                                            <div class="col col-4">
                                                <div class="checkbox" style="padding-left: 0">
                                                    <label>
                                                        <input type="checkbox" class="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="bankDetail.active" >
                                                        <span></span>
                                                    </label>
                                                </div>
                                            </div>

                                            <label class="col-form-label col-md-2">Desktop version</label>
                                            <div class="col col-4">
                                                <div class="checkbox" style="padding-left: 0">
                                                    <label>
                                                        <input type="checkbox" class="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="bankDetail.isDesktop" >
                                                        <span></span>
                                                    </label>
                                                </div>
                                            </div>

                                        </div>
                                    </section>
                                </fieldset>
                                <div class="form-actions">
                                    <div class="row justify-content-md-center">
                                        <div class="col-md-8 text-center">
                                            <button type="submit" class="btn btn-primary" (click)="onSubmit()">ทำรายการ</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>