@import "../../../node_modules/nvd3/build/nv.d3";
@import "../scss/variables";
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/_variables";
@import "../../../node_modules/bootstrap/scss/mixins";

.main-header{
  background: rgba(0, 0, 0, 0.3);

  .main{
    background: rgba(0, 0, 0, 0.7);
    font-size: 2rem !important;
    font-weight: bold;
  }

  .sub{
    padding-bottom: 10px;
    padding-top: 10px;
  }
}

hr{
  border: 2px dashed white;
}